@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Pixelify+Sans:wght@400;500&family=Roboto+Mono&family=Rubik:ital,wght@0,300;0,400;0,600;1,300;1,400&family=Titillium+Web:wght@200;400;700&display=swap');

* {
  font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}

body {
  background-image: url(/assets/luke-chesser-eICUFSeirc0-unsplash.jpg);
}

.app-container {
  align-items: center;
  background-color: slategray;
  border-radius: 20px;
  box-shadow: 1px 1px 4px 2px darkseagreen;
  display: flex;
  flex-direction: column;
}

.app-container h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
.lighten,
.darken {
  color: floralwhite;
  margin: 5px;
  letter-spacing: 5px;
  text-align: center;
}

.color-input-label input {
  border-radius: 6px;
  border: 1px solid aqua;
  padding: 5px;
}

.color-box-input,
.color-box-output {
  border: 1px solid papayawhip;
  height: 40px;
  width: 280px;
  border-radius: 3px;
  margin: 10px;
}


.switcher {
  display: flex;
  align-items: center;
  /* Add this line to vertically align items */
  margin: 30px;
}

.switch {
  border: 1px solid cornflowerblue;
  background: floralwhite;
  border-radius: 15px;
  cursor: pointer;
  width: 50px;
  height: 25px;
  text-align: unset;
  position: relative;
  /* Add this line */
  box-shadow: inset 0px 3px 4px 1px rgba(0, 0, 0, .3), 0px 0px 0px 0px rgba(255, 255, 255, .8);
  transition: ease-in-out 0.3s;
}

.switch:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 10px;
  bottom: 3px;
  background-color: antiquewhite;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 0px 2px 0px rgba(255, 255, 255, .8);
  transition: transform ease-in-out 0.3s;
  /* Change the transition property */
}

/* Using sibling selector ~ */
input[type="checkbox"]:checked+.switch {
  background-color: rgb(54, 54, 89);
}

/* Using sibling selector ~ */
input[type="checkbox"]:checked~.switch:before {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  transform: translateX(30px);
  /* Change from 'left' to 'transform' */
  background-color: rgb(89 87 104);
}

.switch:hover {
  background-color: rgb(213 221 221);
}

.value {
  display: flex;
  justify-content: center;
}

.switcher input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

/* media queries */
@media screen and (min-width: 1024px) {
  .app-container {
    margin: 20px 35%;
    padding: 30px;
    width: 530px;
  }
}

@media screen and (max-width: 1024px) {
  .app-container {
    padding: 30px;
  }
}